<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="container contents d-flex justify-content-between align-items-end">
        <span>
            <h3>상품 리스트</h3>
        </span>
    </section>

    <!-- 한 페이지 30개 -->
    <section>
        <!-- th:each -->
        <div class="container d-flex mt-3">
            <div class="product d-flex align-items-center border-bottom p-0 col-10">
                <div class="productImage">
                    <a href="https://www.musinsa.com/products/5108154">
                        <img src="https://image.msscdn.net/thumbnails/images/goods_img/20250513/5108154/5108154_17472128265340_big.jpg?w=1200" width="150px" height="180px">
                    </a>
                </div>
                <div class="productInfo d-flex justify-content-start align-items-end" style="margin-left:50px;">
                    <div>
                        <div style="margin-bottom:25px;">
                            품명 :
                            <span>캐주얼한 호랑이 프린팅으로 기운이 솟아나는 상의</span>
                        </div>
                        <div style="margin-bottom:25px;">
                            최고가 :
                            <span>48,000원</span>
                        </div>
                        <div style="margin-bottom:25px;">
                            최저가 :
                            <span>42,000원</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center col-2">
                <a href="#" class="addBtn">
                    <img src="https://www.iconninja.com/files/800/185/120/add-icon.png" width="20" height="20">
                </a>
            </div>
        </div>
    </section>
</th:block>