<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="container contents d-flex justify-content-between align-items-end">
        <span>
            <h3>검색 결과</h3>
        </span>
    </section>

    <!-- 한 페이지 30개 -->
    <section>
        <!-- th:each -->
        <div class="container d-flex mt-3" th:each="keyword:${keywordList}">
            <div class="product d-flex align-items-center border-bottom p-0 col-10">
                <div class="productImage">
                    <a th:href="${keyword.link}">
                        <img th:src="${keyword.image}" width="150px" height="180px">
                    </a>
                </div>
                <div class="productInfo d-flex justify-content-start align-items-end" style="margin-left:50px;">
                    <div>
                        <div style="margin-bottom:25px;">
                            품명 :
                            <span th:utext="${keyword.title}">캐주얼한 호랑이 프린팅으로 기운이 솟아나는 상의</span>
                        </div>
                        <div style="margin-bottom:25px;">
                            최고가 :
                            <span>-</span>
                        </div>
                        <div style="margin-bottom:25px;">
                            최저가 :
                            <span th:text="${keyword.lprice}">42,000원</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center col-2" th:if="${userId}">
                <a href="#" class="addBtn"
                   th:data-user-id="${userId}"
                   th:data-link="${keyword.link}"
                   th:data-image="${keyword.image}"
                   th:data-title="${keyword.title}"
                   th:data-lprice="${keyword.lprice}"
                   th:data-category1="${keyword.category1}"
                   th:data-category2="${keyword.category2}"
                   th:data-category3="${keyword.category3}"
                >
                    <img src="https://www.iconninja.com/files/800/185/120/add-icon.png" width="20" height="20">
                </a>
            </div>
        </div>
    </section>

    <script>
        $(function() {
            $(".addBtn").on("click", function() {
                event.preventDefault();

                let userId = $(this).data('user-id');
                let link = $(this).data('link');
                let image = $(this).data('image');
                let title = $(this).data('title');
                let lprice = $(this).data('lprice');
                let category1 = $(this).data('category1');
                let category2 = $(this).data('category2');
                let category3 = $(this).data('category3');

                if(!userId){
                    alert("로그인이 필요합니다.");
                    return;
                }

                $.ajax({
                    type: "post",
                    url: "/product/add",
                    data: {
                        "userId": userId,
                        "link": link,
                        "image": image,
                        "title": title,
                        "lprice": lprice,
                        "category1": category1,
                        "category2": category2,
                        "category3": category3
                      },
                    success: function (data) {
                        if (data.code == 200) {
                          alert(data.message);
                        } else {
                          alert(data.message);
                        }
                    },
                    error: function (e) {
                        alert("저장에 실패했습니다.");
                    }
                });
            }); // --- 콕 리스트 저장 끝
        });
    </script>
</th:block>