<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weatherfit.user.mapper.LikeMapper">
    <insert id="insertProduct">
        INSERT INTO `like`
        (
            `userId`
            ,`link`
            ,`image`
            ,`title`
            ,`lprice`
            ,`category1`
            ,`category2`
            ,`category3`
            ,`createdAt`
        )
        VALUES
        (
            #{userId}
            ,#{link}
            ,#{image}
            ,#{title}
            ,#{lprice}
            ,#{category1}
            ,#{category2}
            ,#{category3}
            ,NOW()
        )
    </insert>


    <select id="selectLikeList10">
        SELECT
            *
        FROM
            `like`
        WHERE
            `userId` = #{userId}
        ORDER BY `id`
        DESC LIMIT 10
    </select>


    <select id="selectLikeList">
        SELECT
            *
        FROM
            `like`
        WHERE
            `userId` = #{userId}
        ORDER BY `id`
        DESC
    </select>


    <delete id="delProduct">
        DELETE
        FROM
            `like`
        WHERE
            `id` = #{id}
    </delete>


    <select id="selectNearTop">
        SELECT
            `like`.title
        FROM
            `like`
        JOIN
            `user` ON `like`.userId = `user`.id
        JOIN
            `style` ON `like`.userId = `style`.userId
        WHERE
            `user`.x &gt; #{x} - 2 AND `user`.x &lt; #{x} + 2
        AND
            `user`.y &gt; #{y} - 2 AND `user`.y &lt; #{y} + 2
        AND
            `style`.top = #{topStyle}
        AND
            `like`.category3 LIKE '%셔츠%'
        ORDER BY RAND()
        LIMIT 9;
    </select>


    <select id="selectNearBottom">
        SELECT
            `like`.title
        FROM
            `like`
        JOIN
            `user` ON `like`.userId = `user`.id
        JOIN
            `style` ON `like`.userId = `style`.userId
        WHERE
            `user`.x &gt; #{x} - 2 AND `user`.x &lt; #{x} + 2
        AND
            `user`.y &gt; #{y} - 2 AND `user`.y &lt; #{y} + 2
        AND
            `style`.bottom = #{bottomStyle}
        AND
        (
            `like`.category3 LIKE '바지' OR
            `like`.category3 LIKE '스커트'
        )
        ORDER BY RAND()
        LIMIT 9;
    </select>


    <select id="selectNearBottom">
        SELECT
            `like`.title
        FROM
            `like`
        JOIN
            `user` ON `like`.userId = `user`.id
        JOIN
            `style` ON `like`.userId = `style`.userId
        WHERE
            `user`.x &gt; #{x} - 2 AND `user`.x &lt; #{x} + 2
        AND
            `user`.y &gt; #{y} - 2 AND `user`.y &lt; #{y} + 2
        AND
            `style`.shoes = #{shoesStyle}
        AND
            `like`.category2 LIKE '%신발'
        ORDER BY RAND()
        LIMIT 9;
    </select>
</mapper>
