<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weatherfit.user.mapper.StyleMapper">
    <select id="selectUserStyle">
        SELECT
            `userId`
            ,`top`
            ,`bottom`
            ,`shoes`
        FROM
            `style`
        WHERE
            `userId` = #{userId}
    </select>

    <insert id="insertUserStyle">
        INSERT INTO `style`
        (
            `userId`
            ,`top`
            ,`bottom`
            ,`shoes`
            ,`createdAt`
        )
        VALUES
        (
            #{userId}
            ,#{top}
            ,#{bottom}
            ,#{shoes}
            ,NOW()
        )
    </insert>

    <update id="updateUserStyle">
        UPDATE
            `style`
        SET
            `top` = #{top}
            ,`bottom` = #{bottom}
            ,`shoes` = #{shoes}
            ,`createdAt` = now()
        WHERE
            `userId` = #{userId}
    </update>

    <select id="selectTopChartByGA">
        SELECT
            `style`.top
        FROM
            `user`
        JOIN
            `style` ON `style`.userId = `user`.id
        WHERE
            `user`.gender = #{gender}
        AND
            `user`.age BETWEEN (#{age} * 10) AND (#{age} * 10 + 9)
    </select>

    <select id="selectBottomChartByGA">
        SELECT
            `style`.bottom
        FROM
            `user`
        JOIN
            `style` ON `style`.userId = `user`.id
        WHERE
            `user`.gender = #{gender}
        AND
            `user`.age BETWEEN (#{age} * 10) AND (#{age} * 10 + 9)
    </select>

    <select id="selectShoesChartByGA">
        SELECT
            `style`.shoes
        FROM
            `user`
        JOIN
            `style` ON `style`.userId = `user`.id
        WHERE
            `user`.gender = #{gender}
        AND
            `user`.age BETWEEN (#{age} * 10) AND (#{age} * 10 + 9)
    </select>

    <select id="selectTopChartByLocation">
        SELECT
            `style`.top
        FROM
            `user`
        JOIN
            `style` ON `style`.userId = `user`.id
        WHERE
            `user`.x BETWEEN (#{x} - 2) AND (#{x} + 2)
        AND
            `user`.y BETWEEN (#{y} - 2) AND (#{y} + 2)
    </select>

    <select id="selectBottomChartByLocation">
        SELECT
            `style`.bottom
        FROM
            `user`
        JOIN
            `style` ON `style`.userId = `user`.id
        WHERE
            `user`.x BETWEEN (#{x} - 2) AND (#{x} + 2)
        AND
            `user`.y BETWEEN (#{y} - 2) AND (#{y} + 2)
    </select>

    <select id="selectShoesChartByLocation">
        SELECT
            `style`.shoes
        FROM
            `user`
        JOIN
            `style` ON `style`.userId = `user`.id
        WHERE
            `user`.x BETWEEN (#{x} - 2) AND (#{x} + 2)
        AND
            `user`.y BETWEEN (#{y} - 2) AND (#{y} + 2)
    </select>
</mapper>