<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weatherfit.weather.mapper.ShortFcstMapper">
    <select id="selectTodayFcst">
        SELECT
            *
        FROM
            `weather_fcst`
        WHERE
            `fcstDate` = #{todayFcst}
    </select>

    <select id="getShortFcstlist">
        SELECT
            *
        FROM
            `weather_fcst`
        WHERE
            `nx` = #{x}
        AND
            `ny` = #{y}
        ORDER BY
            `fcstDate`
        DESC LIMIT 3
    </select>

    <select id="findFcstDate">
        SELECT
            `fcstDate`
        FROM
            `weather_fcst`
        WHERE
            `fcstDate` = #{fcstDate}
    </select>

    <update id="updateShortFcst">
        UPDATE
            `weather_fcst`
        SET
            `tmp` = #{tmp}
            ,`tmn` = #{tmn}
            ,`tmx` = #{tmx}
            ,`nx` = #{nx}
            ,`ny` = #{ny}
            ,`createdAt` = NOW()
        WHERE
            `fcstDate` = #{fcstDate}
    </update>

    <insert id="insertShortFcst">
        INSERT INTO `weather_fcst`
        (
            `fcstDate`
            ,`tmp`
            ,`tmn`
            ,`tmx`
            ,`nx`
            ,`ny`
            ,`createdAt`
        )
        VALUES
        (
            #{fcstDate}
            ,#{tmp}
            ,#{tmn}
            ,#{tmx}
            ,#{nx}
            ,#{ny}
            ,NOW()
        )
    </insert>
</mapper>